{% extends 'base.html' %}
{% block content %}
    <a href="{% url 'upload' %}">UPLOAD</a>
    {% for object in object_list %}
        {% if object.image %}
            <ul>
                <li>
                    <a href="{% url 'image-detail' object.pk %}">
                        {{ object.name }}
                    </a>
                </li>
                <li>
                    <img src="{{ object.image.url }}" width="300" height="200" alt="{{ object.name }}"/>
                </li>
            </ul>
        {% else %}
            <ul>
                <li>
                    <a href="{% url 'image-detail' object.pk %}">
                        {{ object.name }}
                    </a>
                </li>
                <li>
                    Image not found
                </li>
            </ul>
        {% endif %}
    {% endfor %}
{% endblock %}
